ollama_model = "qwen2.5-32k:latest"
ollama_url = "http://ubuntu:11434/v1"
ollama_api_key = "ollama"

SAFETY_LLM_MODEL = "charan2:latest"
SAFETY_LLM_URL = "http://ubuntu:11434/v1"
SAFETY_LLM_API_KEY = "ollama"